* {
  font-family: "Chakra Petch", sans-serif;
}
body {
  background-color: rgb(213, 210, 196);
}
.heading {
  height: 500px;
  width: 100%;
  background-color: rgb(213, 210, 196);
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  border: 0;
  visibility: visible;
}
.headingHide {
  visibility: hidden;
}
.rightSide {
  text-align: center;
  font-size: xx-large;
  color: #fff;
}
.rightSide button {
  width: 300px;
  height: 50px;
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
  transition: 0.5ms ease-in-out;
}
.rightSide button:hover {
  color: grey;
  background-color: #f0db4f;
  cursor: pointer;
}
.heading img {
  box-sizing: border-box;
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.heading ol {
  width: 50%;
  margin: 10px auto;
  background-color: rgb(213, 210, 196);
}
.num1 {
  padding: 10px;
}
.num1 p {
  width: 40%;
  border: 1px solid black;
  padding: 10px;
}
.modal {
  width: 40%;
  height: 300px;
  border-radius: 15px;
  border-style: solid;
  margin: auto;
  padding: 15px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: rgb(189, 180, 137);
  visibility: hidden;
}
.modalOpen {
  visibility: visible;
}
.modalClose {
  visibility: hidden;
}
.modal h1 {
  text-align: center;
  color: rgb(1, 1, 96);
}
.mdl-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal li {
  padding: 10px;
}
.modal button {
  width: 20%;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(38, 38, 147);
  color: #fff;
  cursor: pointer;
  font-size: large;
}

.modal button:hover {
  color: rgb(38, 38, 147);
  background-color: #fff;
}
.results {
  background-color: rgb(189, 180, 137);
  width: 40%;
  height: 500px;
  margin: auto;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 20px;
  padding: 20px;
}
.results h1 {
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  color: rgb(1, 1, 96);
}
.results h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}
