* {
  font-family: "Playfair Display", serif;
}
body {
  background-image: url(background.gif);
  background-position: center;
  background-size: cover;
  color: #fff;
}
.heading {
  height: 500px;
  width: 60%;
  background-color: rgba(18, 86, 22, 0.807);
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 0;
  border-radius: 10px;
  visibility: visible;
  text-align: center;
  font-size: xx-large;
  color: #fff;
}
.headingHide {
  visibility: hidden;
}
.heading button {
  width: 300px;
  height: 50px;
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
  transition: 0.5ms ease-in-out;
}
.heading button:hover {
  color: grey;
  background-color: #451726;
  cursor: pointer;
}
.heading img {
  box-sizing: border-box;
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.heading h1 {
  color: rgb(84, 38, 25);
  text-decoration: underline;
}
.modal {
  width: 40%;
  height: 300px;
  border-radius: 15px;
  border-style: solid;
  margin: auto;
  padding: 15px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: rgba(18, 86, 22, 0.807);
  visibility: hidden;
}
.modalOpen {
  visibility: visible;
}
.modalClose {
  visibility: hidden;
}
.modal h1 {
  text-align: center;
  color: rgb(84, 38, 25);
}
.mdl-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal li {
  padding: 10px;
}
.modal button {
  width: 20%;
  height: 40px;
  border-radius: 20px;
  background-color: #451726;
  color: #fff;
  cursor: pointer;
  font-size: large;
}

.modal button:hover {
  color: rgb(38, 38, 147);
  background-color: #fff;
}
