* {
  font-family: "Playfair Display", serif;
}
body {
  background-image: url(background.gif);
  background-position: center;
  background-size: cover;
  color: #fff;
}
.timer {
  float: right;
  margin-top: 10px;
}
.questions {
  padding: 5px;
  background-color: rgba(18, 86, 22, 0.807);
  width: 40%;
  height: 500px;
  margin: auto;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
}
.questions h1 {
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  color: rgb(84, 38, 25);
}
.questions p {
  font-size: 1.5rem;
  text-align: left;
}
.questions button {
  outline: none;
  width: 90%;
  height: 48px;
  margin: 4px;
  font-size: 1.1rem;
}
.correct {
  background: #9aeabc;
}
.incorrect {
  background: #ff9393;
}
.questions button:disabled {
  cursor: no-drop;
}
.next {
  display: flex;
  align-items: center;
  justify-content: center;
}
.next button {
  background-color: #451726;
  color: #fff;
  width: 60%;
  height: 50px;
  border-radius: 10px;
  transition: all 0.1ms ease-in-out;
  margin-top: 20px;
}
.next button:hover {
  color: rgb(38, 38, 147);
  background-color: #fff;
}
.results {
  background-color: rgb(18, 86, 22);
  width: 40%;
  height: 500px;
  margin: auto;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 20px;
  padding: 20px;
  visibility: hidden;
}
.results h1 {
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  color: rgb(84, 38, 25);
  text-decoration: underline;
}
.results h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}
.strtbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.results button {
  font-size: 1.25rem;
  background-color: #451726;
  color: #fff;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  transition: all 0.1ms ease-in-out;
  margin: auto;
}
.results button:hover {
  color: rgb(38, 38, 147);
  background-color: #fff;
}
